/** 폰트어썸 **/
@import url('http://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');

body{
  font-family: 'Cormorant Garamond', serif;
  font-weight:500;
  text-align: center;
  margin: 0;

}

/** gnb 페이지 **/

.gnb {
    display: inline-block;
    border-bottom: 2px dotted rgb(175, 175, 175);
    padding: 20px;
    padding-top: 100px;
}
.gnb span.mypage-icon {
  position: relative;
 /**border: 1px solid red;**/
}

.gnb span.mypage-icon i {
  /**border: 1px solid red;**/
  margin-top: 1px;
  color: lightgray;
  position: absolute;
  top:100%;
  left:65%;

}


a {
  color: black;
  text-decoration: none;
}

.gnb a {
  font-size: 13px;
  font-weight: bold;
  margin-right:8px;
}

.gnb img {
  padding-left: 60px;
  padding-right: 60px;
}

/** nav 페이지 **/

.nav {
  padding-top: 30px;
  padding-bottom: 20px;
}

.nav a {
  font-size: 15px;
  font-weight: 600;
  margin:18px;
  font-style: italic;
}

#pink {
  color: rgb(255, 152, 169);
}

#hide {
  display: none;
}

/* table 페이지 */
.notice-table {
  margin-top: 75px;
  
}

table {
  width: 60%;
  margin: auto;
  font-family: 'Noto Sans KR', sans-serif;
  
  font-size: 13px;
  color: rgb(139, 139, 139);
  /* border-collapse:seperate; */
  border-spacing :0;
}


thead {
  background-color: rgb(233, 233, 233);
  color: rgb(133, 133, 133);
  font-size: 13px;
}


thead th {
  border-spacing :2px;
  border-left: 2px solid white;
  padding: 3px;
}

#number-table {
  border-left: none;
}

.notice-font {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 11px;
  font-weight: bold;
}

table a {
  color: rgb(126, 126, 126);
  float: left;
  padding-left: 10px;
  
}

table td {
  border-bottom: 1px solid rgb(167, 167, 167);
  margin: 0;
  padding: 2px;
  border-spacing :0;
  padding-bottom: 6px;
}


.border-none {
  border-bottom: none;
}



/** footer 페이지 **/

.footer {
  margin-top: 24px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 11px;
}

.footer a {
  color: gray;
  border-right: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

#delete {
  border-right: none;
}

/** footer address 페이지 **/

.footer-address {
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 60px;
  color: gray;
  font-size: 9px;

}

.footer-address-parent{

}

.footer-address-child {
  height: inherit;
  vertical-align: middle;
  margin-left: 4px;
}